{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} Catégorie | {{ categorie.CategorieTitle }}{% endblock %}

{% block menuLinks %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Home</a></li>
{% for categ in categories %}
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path("categorie", { 'slug' :  categ.CategorySlug }) }}">{{ categ.CategorieTitle }}</a></li>
{% endfor %}
    <li class="nav-item"><a class="nav-link" aria-current="page" href="./connect">Connexion</a></li>
{% endblock %}

{%block htitle %}Catégorie : {{ categorie.CategorieTitle }}{% endblock %}
{%block hdesc %}{{ categorie.CategorieDesc }}{% endblock %}

{% block articles %}
    <h1>Page d'accueil ✅</h1>
    {% for categ in categories %}
        <h2>{{ categ.CategorieTitle }}</h2>
        <p>{{ categ.CategorySlug }}</p>
        <p>{{ categ.CategorieDesc }}</p>
    {% endfor %}
{% endblock %}

