{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} Page d'accueil{% endblock %}

{% block menuLinks %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Home</a></li>
{% for categ in categories %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path("categorie", { 'slug' :  categ.CategorySlug }) }}">{{ categ.CategorieTitle }}</a></li>
{% endfor %}
    <li class="nav-item"><a class="nav-link" aria-current="page" href="./connect">Connexion</a></li>
{% endblock %}

{% block articlePerOne %}
    {% for article in articles %}
    <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
        <h2 class="h4 fw-bolder">{{ article.ArticleTitle }}</h2>
        <p>{{ article.ArticleContent|slice(0, 150) }}...</p>
        <a class="text-decoration-none" href="{{ path("article", { 'slug' :  article.ArticleSlug }) }}">
            Lire la suite
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>
    {% endfor %}
{% endblock %}

