<li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Home</a></li>
{% for categ in categories %}
    <li class="nav-item"><a class="nav-link" aria-current="page"
                            href="{{ path("categorie", { 'slug' :  categ.CategorySlug }) }}">{{ categ.CategorieTitle }}</a>
    </li>
{% endfor %}
    {% if is_granted("ROLE_USER") %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">Inscription</a>
        </li>
    {% endif %}
