{% extends 'public/public.template.html.twig' %}

{% block title %}{{ parent() }} Article | {{ article.ArticleTitle }}{% endblock %}

{% block menuLinks %}
    {% include 'public/inc/menu.html.twig' %}
{% endblock %}

{%block htitle %}Article : {{ article.ArticleTitle }}{% endblock %}
{%block hdesc %}{% endblock %}
{% block boutonshauts %}{% endblock %}

{% block articlePerOne %}

    <div class="col-lg-12 mb-5 mb-lg-0">
        <h2 class="h4 fw-bolder mb-3">{{ article.ArticleTitle }}</h2>
        <h4 class="h5">Par {{ article.utilisateur.name }} le {{ article.ArticleDateCreate|date("d/m/Y") }}</h4>
        <hr>
        {% for categ in article.categories %}
            <a href="{{ path("categorie", { 'slug' :  categ.CategorySlug }) }}" class="badge bg-secondary text-decoration-none link-light">{{ categ.CategorieTitle }}</a>
            {% else %}
            <h5>Présent dans aucune catégorie</h5>
        {% endfor %}
        <hr>
        <p>{{ article.ArticleContent|striptags|nl2br }}</p>
        <h4 class="h5">Par {{ article.utilisateur.name }} le {{ article.ArticleDateCreate|date("d/m/Y") }}</h4>
    </div>
    {% block commentaire %}{% include 'public/inc/commentaire.html.twig' %}{% endblock %}
{% endblock %}

