{% extends 'public/public.template.html.twig' %}

{% block title %}{{ parent() }} Catégorie | {{ categorie.CategorieTitle }}{% endblock %}

{% block menuLinks %}
    {% include 'public/inc/menu.html.twig' %}
{% endblock %}

{%block htitle %}Catégorie : {{ categorie.CategorieTitle }}{% endblock %}
{%block hdesc %}{{ categorie.CategorieDesc }}{% endblock %}
{% block boutonshauts %}{% endblock %}


{% block articlePerOne %}
    {% for article in articles|reverse %}
        {% if article.ArticleIsPublished %}
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
            <h2 class="h4 fw-bolder">{{ article.ArticleTitle }}</h2>
            <p>{{ article.ArticleContent|striptags|u.truncate(120, '...', false) }}</p>
            <a class="text-decoration-none" href="{{ path("article", { 'slug' :  article.ArticleSlug }) }}">
                Lire la suite
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

